<div class="jumbotron">
  <h2>欢迎使用宿舍查询工具</h2>
  <p>请输入姓名及学号</p>
  <form>
    <div class="form-group">
      <label for="name">姓名</label>
      <input id="name" ng-model="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="number">学号</label>
      <input id="number" ng-model="number" class="form-control">
    </div>
  </form>
  <p class="fail-message" style="color: red;display: none">查询结果为空,请核对姓名学号</p>
  <p><button class="btn btn-lg btn-success" ng-click="search($event)">查询!<span class="glyphicon glyphicon-ok"></span></button></p>
</div>
